<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
<head>
{% block title %}Category{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/category_list.css" %}">
{% endblock %}
</head>
{% block content %}
	<div class="category-list">
		<a href="{% url 'blog:post_new' %}">
			<span class="glyphicon glyphicon-plus"/>
		</a>
	</div>
	<div class="category-list">
		{% for post in posts %}
			<a href={{ post.get_absolute_url }} class="post-title">
			{{ post.title }}</a>
		{% endfor %}
	</div>
{% endblock %}
