<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
<head>
{% block title %}Post{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/category_list.css" %}">
{% endblock %}
</head>
<body>
{% block content %}
	<div class="category-list">
		<p class="post-title">{{ post.title }}</p>
		<p class="post-title">{{ post.slug }}</p>
		<p class="post-title">{{ post.description }}</p>
		<p class="post-title">{{ post.content }}</p>
		<p class="post-title">{{ post.create_date }}</p>
		<p class="post-title">{{ post.modify_date }}</p>
	</div>
{% endblock %}
</body>
