<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load markdownify %}
<head>
{% block title %}Post{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static "css/blog_detail.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/code-highlight/native.css" %}">
{% endblock %}
</head>
<body>
{% block content %}
	<div class="attributes">
        {% with "facebook" as service %}
        <a href="http://www.facebook.com/share.php?u={{ host }}{{ page_url }}&amp;t={{ post.title }}" target="_blank" title="{{ post.title }}">
            <img src="{{ post.image_url }}" alt="">
            </a>
        {% endwith %}
		<p class="attribute title">{{ post.title }}</p>
		<p class="attribute">{{ post.slug }}</p>
		<p class="attribute">{{ post.description }}</p>
	</div>
	<div class="main-content">
		{{ post.content | markdown | safe }}
	</div>
		<p class="attribute">{{ post.create_date }}</p>
		<p class="attribute">{{ post.modify_date }}</p>
{% endblock %}
</body>
