<div class="nav">
	<div id"go-home" style="padding:15px 17px;">
		<svg style="width:48px;height:48px" viewBox="0 0 24 24">
    			<path fill="powderblue" d="M19.35,10.03C18.67,6.59 15.64,4 12,4C9.11,4 6.6,5.64 5.35,8.03C2.34,8.36 0,10.9 0,14A6,6 0 0,0 6,20H19A5,5 0 0,0 24,15C24,12.36 21.95,10.22 19.35,10.03Z" />
		</svg>
	</div>
    <div class="logo-menu">
	<svg style="width:72px;height:72px; background-color:111;"
		 viewBox="0 0 24 24">
    		<path fill="powderblue" id="right-arrow" style="display:none;" 
		d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
		<path fill="powderblue" id="left-arrow" style="display:block;"
		d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" />
	</svg>
    </div>
</div>
<div id="sidebar" class="sidenav open-nav">
	{% if categories %}	
	{% for category in categories %}
	<div class="dropdown" onmouseover="openPosts({{ category.title }})"
				onmouseout="closePosts({{ category.title }})">
		<h2 class="dropbtn">
			<a href="{{ category.get_absolute_url }}" 
			{% if seleted_category_slug == category.slug %}
			style="background-color:powderblue;"
			{% endif %}
			>
				 {{ category.title }} </a>
		</h2>
		<div class="dropdown-content" id="{{ category.title }}">
			{% for post in category.posts.all %}
				<h4>{{ post.title }} </h4>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	{% endif %}
</div>

